@using MyWebShop.ViewModels
@{
    var signup = Model.Signup==null?new SignupViewModel():(SignupViewModel)Model.Signup;
    var phoneSignup = Model.PhoneSignup == null?new PhoneSignupViewModel(): (PhoneSignupViewModel)Model.PhoneSignup;
    Style.Require("MyWebShop.Register");
}

@Html.ValidationSummary()
<section class="container">
    <article class="conSec clearfix">
        <section class="alLogo"> <a href="#" title=""><img src="@Href("~/Modules/MyWebShop/images/fas54fas5f_03.jpg")" alt="" /></a> </section>
        <!--注册用户-->
        <section class="alLoad">
            <div class="alLoad-box">
                <div class="conLoad">
                    <ul>
                        <li class="fl" id="denle"><a class="denLo-le on" href="javascript:void(0)">邮箱注册</a></li>
                        <li class="fl" id="denri"><a class="denLo-ri" href="javascript:void(0)">手机注册</a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="Tab-Irep">
                    <ul>
                        <!--邮箱注册-->
                        <li style="display:none" class="on Tab-Irep-phem">
                            @using (Html.BeginFormAntiForgeryPost(Url.Action("Signup", "Checkout", new { area = "MyWebShop" })))
                            {
                                <div class="conIrep">
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => signup.Title, T("用户名 :"))</span>
                                        @Html.TextBox("signup.Title", signup.Title, new { placeholder = "请输入用户名", @class = "IrepZha-inp" })
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => signup.Email, T("邮箱 :"))</span>
                                        @Html.TextBox("signup.Email", signup.Email, new { placeholder = "请输入邮箱", @class = "IrepZha-inp" })
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => signup.Password, T("密码 :"))</span>
                                        @Html.Password("signup.Password", signup.Password, new { placeholder = "请输入密码", @class = "IrepZha-inp" })
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => signup.RepeatPassword, T("确认密码 :"))</span>
                                        @Html.Password("signup.RepeatPassword", signup.RepeatPassword, new { placeholder = "请输入密码", @class = "IrepZha-inp" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="Irep-sbu">
                                    <button class="Irep-inSub" type="submit">@T("注册")</button>
                                </div>
                                <div class="passLis">
                                    <div class="fl">
                                        <div class="checkbox">@Html.CheckBox("signup.AcceptTerms", new { @class = "passLis-che" })</div>
                                        <div class="label">
                                            <label for="@Html.FieldIdFor(m => signup.AcceptTerms)" class="passLis-lab">
                                                @Html.Raw(T("我已阅读并接受<a href=\"{0}\" target=\"_blank\">馋嘴猫条款</a>", "#").ToString())
                                            </label>
                                        </div>
                                    </div>
                                    <div class="fr">已注册？<a style=" color:#78168b" href="@Url.Action("Login", "Checkout", new { area = "MyWebShop" })" title="">登录</a></div>
                                </div>
                            }
                        </li>
                        <!--手机注册-->
                        <li class="Tab-Irep-phem">
                            @using (Html.BeginFormAntiForgeryPost(Url.Action("PhoneSignup", "Checkout", new { area = "MyWebShop" })))
                            {
                                <div class="conIrep">
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => phoneSignup.Title, T("用户名 :")) </span>
                                        @Html.TextBox("phoneSignup.Title", phoneSignup.Title, new { placeholder = "用户名", @class = "IrepZha-inp" })
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => phoneSignup.PhoneNumber, T("手机号码 :"))</span>
                                        @Html.TextBox("phoneSignup.PhoneNumber", phoneSignup.PhoneNumber, new { placeholder = "请输手机号码（仅限中国大陆）", @class = "IrepZha-inp" })
                                        <a class="IrepZha-a" href="javascript:void(0)">获取验证码</a>
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => phoneSignup.MessageCode, T("手机验证码 :"))</span>
                                        @Html.TextBox("phoneSignup.MessageCode", phoneSignup.MessageCode, new { placeholder = "请输入验证码", @class = "IrepZha-inp" })
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => phoneSignup.Password, T("密码 :"))</span>
                                        @Html.Password("phoneSignup.Password", phoneSignup.Password, new { placeholder = "请输入密码", @class = "IrepZha-inp" })
                                    </div>
                                    <div class="Irep-zha">
                                        <span class="IrepZha-le">@Html.LabelFor(m => phoneSignup.RepeatPassword, T("确认密码 :"))</span>
                                        @Html.Password("phoneSignup.RepeatPassword", phoneSignup.RepeatPassword, new { placeholder = "请输入密码", @class = "IrepZha-inp" })

                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="Irep-sbu">
                                    <button class="Irep-inSub" type="submit">@T("注册")</button>
                                </div>
                                <div class="passLis">
                                    <div class="fl">
                                        <div class="checkbox">@Html.CheckBox("phoneSignup.AcceptTerms", new { @class = "passLis-che" })</div>
                                        <div class="label">
                                            <label for="@Html.FieldIdFor(m => phoneSignup.AcceptTerms)" class="passLis-lab">
                                                @Html.Raw(T("我已阅读并接受<a href=\"{0}\" target=\"_blank\">馋嘴猫条款</a>", "#").ToString())
                                            </label>
                                        </div>
                                    </div>
                                    <div class="fr">已注册？<a style=" color:#78168b" href="@Url.Action("Login", "Checkout", new { area = "MyWebShop" })" title="">登录</a></div>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </article>
</section>
