@using Orchard.ContentManagement
@using MyWebShop.Models
@{
    Style.Require("MyWebShop.Checkout.Summary");
    var shoppingCart = Model.ShoppingCart;
    var invoiceAddress = Model.InvoiceAddress;
    var shippingAddress = Model.ShippingAddress;
    var items = (IList<dynamic>)shoppingCart.ShopItems;
    var subtotal = (decimal)shoppingCart.Subtotal;
    var vat = (decimal)shoppingCart.Vat;
    var total = (decimal)shoppingCart.Total;
}
@if (!items.Any())
{
    <p>购物车里面没有商品.</p>
    <a class="button" href="#">继续购物</a>
}
else
{
    <section class="container">
        <article class="conSec clearfix">
            <section class="boxNav">
                <div class="boxNav-bar">
                    <dl class="bnb-D1">
                        <dt></dt>
                        <dd>第一步:我的购物车</dd>
                    </dl>
                    <dl class="bnb-D2">
                        <dt></dt>
                        <dd>第二步:填写核对订单信息</dd>
                    </dl>
                    <dl class="bnb-D3">
                        <dt></dt>
                        <dd>第三步:成功提交订单</dd>
                    </dl>
                </div>
            </section>
            <section class="Step-one clearfix">
                <div class="stepTit">
                    <dl>
                        <dt class="stitMath fl"><img src="images/hdf6g5d4f_03.jpg" /></dt>
                        <dd class="stitAdd fl">收货地址</dd>
                    </dl>
                </div>
                <div class="clearfix"></div>
                <div class="ncc-receipt-info">
                    <div class="ncc-receipt-info-title">
                        <h3>收货人信息</h3>
                    </div>
                    <div class="default_address_wrap">
                        <div id="address_wrap">
                            <div id="addr_div_48" class="option_box selected">
                                <label class="address_lbl">
                                    <p class="address_lbl_n" id="sln-ts"><a href="#" title="">修改</a><a href="#" title="">删除</a></p>
                                    <p class="address_lbl_n" id="sln-ts1">@invoiceAddress.Name.Value</p>
                                    <p class="address_lbl_n" id="sln-ts2">@invoiceAddress.AddressLine1.Value </p>
                                    <p class="address_lbl_n">135302102569</p>
                                </label>
                            </div>
                        </div>
                        <div id="address_btns_wrap"><a id="add_address_btn" href="javascript:void(0)"><i></i>新增收货地址</a></div>
                    </div>
                </div>
            </section>
            <section class="Pay-fans clearfix">
                <div class="stepTit">
                    <dl>
                        <dt class="stitMath fl"><img src="images/hdf6g5d4f_07.jpg" /></dt>
                        <dd class="stitAdd fl" id="stitAdd1043">支付方式</dd>
                    </dl>
                </div>
                <div class="clearfix"></div>
                <div class="stitAdd-receipt">
                    <div class="ncc-candidate-items">
                        <ul>
                            <li>
                                <input id="payment_code_dao" type="radio" name="payment_code" value="huodao">
                                <label class="payment_code_albe" for="payment_code_dao">货到付款</label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="Pay-time clearfix">
                <div class="stepTit">
                    <dl>
                        <dt class="stitMath fl"><img src="images/hdf6g5d4f_11.jpg" /></dt>
                        <dd class="stitAdd fl" id="stitAdd1045">支付方式</dd>
                    </dl>
                </div>
                <div class="clearfix"></div>
                <div class="stitAdd-receipt">
                    <div class="hope-times fl">
                        <p>您希望送货的时间</p>
                    </div>
                    <div class="hope-checks">
                        <div class="ncc-candidate-items">
                            <ul>
                                <li>
                                    <input id="payment_code_free" type="radio" name="payment_code1" value="alipay" />
                                    <label class="payment_code_albe" for="payment_code_free">不限</label>
                                </li>
                                <li>
                                    <input id="payment_code_pc" type="radio" name="payment_code1" value="pingc" />
                                    <label class="payment_code_albe" for="payment_code_pc">平常时间（周一~周五  8:00~18:00）</label>
                                </li>
                                <li>
                                    <input id="payment_code_holiday" type="radio" name="payment_code1" value="holiday" />
                                    <label class="payment_code_albe" for="payment_code_holiday">周末</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="Pay-list clearfix">
                <div class="stepTit">
                    <dl>
                        <dt class="stitMath fl"><img src="images/hdf6g5d4f_15.jpg" /></dt>
                        <dd class="stitAdd fl" id="stitAdd1035">支付方式</dd>
                    </dl>
                </div>
                <div class="clearfix"></div>
                <div class="tableBox-bar">
                    <table class="sppListBox" width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr class="sppListBox_bar">
                            <th width="79" height="35" scope="col">商品信息</th>
                            <th width="129" scope="col">&nbsp;</th>
                            <th width="338" scope="col">&nbsp;</th>
                            <th width="112" scope="col">单价</th>
                            <th width="108" scope="col">数量</th>
                            <th width="97" scope="col">优惠</th>
                            <th width="96" scope="col" id="mones-pay">小计</th>
                            <th width="35"></th>
                        </tr>
                        @for (var i = 0; i < items.Count; i++)
                        {
                            var item = items[i];
                            var product = (ProductPart)item.Product;
                            var contentItem = (ContentItem)item.ContentItem;
                            var title = item.Title;
                            var quantity = (int)item.Quantity;
                            var unitPrice = product.UnitPrice;
                            var totalPrice = quantity * unitPrice;
                            <tr class="sppListBox_bar1">
                                <td height="101"><a href="#" title="请输入内容"><img src="images/fs6a5f46d5s4f6_15.jpg" /></a></td>
                                <td class="tl" height="102" style="vertical-align: text-top;">
                                    <p style="padding-top:5px;">@title</p>
                                </td>
                                <td>&nbsp;</td>
                                <td>@unitPrice.ToString("c")</td>
                                <td width="108">@quantity</td>
                                <td>&nbsp;</td>
                                <td id="mones-pay">@totalPrice.ToString("c")</td>
                                <td></td>
                            </tr>
                        }
                        
                    </table>
                    <div class="sppListBox_rease">
                        <div class="fr Box_reaseRi">
                            <p class="fl">总金额（不含运费）：</p>
                            <span class="fl" style=" font-size:20px; color:#86129d; font-weight:bold;">@total.ToString("c")</span>
                        </div>
                    </div>
                    <div class="Box_buycar">
                        <div class="fl clearBuyc"><a href="#" title="" class="Box_buycartia"><i></i>返回购物车</a></div>
                        <div class="fr buyMyg">
                            @using (Html.BeginFormAntiForgeryPost(Url.Action("Create", "Order", new { area = "MyWebShop" })))
                            {
                                <button type="submit" class="goPay">提交订单</button>
                            }
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </section>
}
