@using MyWebShop.ViewModels
@{
    var login = (LoginViewModel)Model.Login;
    Style.Require("MyWebShop.login");
}
@Html.ValidationSummary()
@using (Html.BeginFormAntiForgeryPost(Url.Action("Login", "Checkout", new { area = "MyWebShop" })))
{
    <section class="container">
        <article class="conSec clearfix">
            <section class="alLogo"> <a href="#" title=""><img src="@Href("~/Modules/MyWebShop/images/fas54fas5f_03.jpg")" alt="" /></a> </section>
            <section class="alLoad">
                <div class="alLoad-box">
                    <div class="conLoad">
                        <ul>
                            <li class="fl denLo-le">登录</li>
                            <li class="fl denLo-ri"></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="conIrep">
                        <div class="Irep-zha">
                            <span class="IrepZha-le">@Html.LabelFor(m => login.Email, T("账号")) :</span>
                            <input class="IrepZha-inp" type="text" placeholder="请输入邮箱/手机号" id="login_Email" name="login.Email" />
                        </div>
                        <div class="Irep-zha">
                            <span class="IrepZha-le">@Html.LabelFor(m => login.Password, T("密码")) :</span>
                            <input class="IrepZha-inp" type="password" placeholder="请输入密码" name="login.Password" id="login_Password" />
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="Irep-sbu">
                        <button type="submit" class="Irep-inSub">@T("登录")</button>
                    </div>
                    <div class="passLis">
                        <div class="fl">
                             @Html.CheckBoxFor(m=>login.CreatePersistentCookie)
                            <label for="login_CreatePersistentCookie" class="passLis-lab">记住密码</label>
                        </div><span class="fr"><a href="#" title="">忘记密码？丨</a><a style=" color:#78168b" href="@Url.Action("Signup", "Checkout", new { area = "MyWebShop" })" title="免费注册">免费注册</a></span>
                    </div>
                </div>
            </section>
        </article>
    </section>
}
