@using MyWebShop.Models
@{
    Style.Require("MyWebShop.ShoppingCart");
    Script.Require("MyWebShop.ShoppingCart").AtHead();
    var items = (IList<dynamic>)Model.Products;
    var subtotal = (decimal)Model.Subtotal;
    var vat = (decimal)Model.Vat;
    var total = (decimal)Model.Total;
    Layout.Title = "购物车";
}
@if (!items.Any())
{
    <p>你的购物车没有任何商品.</p>
    using (Html.BeginFormAntiForgeryPost(Url.Action("Update", "ShoppingCart", new { area = "MyWebShop" })))
    {
        <button type="submit" name="command" value="ContinueShopping" class="Cont">继续购物</button>
    }
}
else
{
    <section class="container">
        <article class="conSec clearfix">
            @using (Html.BeginFormAntiForgeryPost(Url.Action("Update", "ShoppingCart", new { area = "MyWebShop" })))
            {
                <section class="boxNav">
                    <div class="boxNav-bar">
                        <dl class="bnb-D1">
                            <dt></dt>
                            <dd>第一步:我的购物车</dd>
                        </dl>
                        <dl class="bnb-D2">
                            <dt></dt>
                            <dd>第二步:填写核对订单信息</dd>
                        </dl>
                        <dl class="bnb-D3">
                            <dt></dt>
                            <dd>第三步:成功提交订单</dd>
                        </dl>
                    </div>
                </section>
                <section class="tableBox">
                    <div class="tableBox-bar">
                        <h1 class="tbb-h1"><font color="#86129d">温馨提示：</font>1.请您提交订单后3小时内完成支付或电话确认，逾时订单将被取消。 2.促销优惠将按比例分摊至商品小计中。</h1>
                        <table class="sppListBox" width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr class="sppListBox_bar">
                                <th width="7%" height="35" scope="col">商品信息</th>
                                <th width="12%" scope="col">&nbsp;</th>
                                <th width="28%" scope="col">&nbsp;</th>
                                <th width="12%" scope="col">单价</th>
                                <th width="12%" scope="col">数量</th>
                                <th width="10%" scope="col">小计</th>
                                <th scope="col">操作</th>
                            </tr>
                            @for (var i = 0; i < items.Count; i++)
                            {
                                var item = items[i];
                                var product = (ProductPart)item.ProductPart;
                                var title = item.Title ?? "(no routepart attached)";
                                var quantity = (int)item.Quantity;
                                var unitPrice = product.UnitPrice;
                                var totalPrice = quantity * unitPrice;
                                var productImages = item.ProductImage != null ? item.ProductImage.MediaUrl : "";
                                var productLink = item.Link;
                                <tr class="sppListBox_bar1">
                                    <td height="101"><a href="@item.Link" title="@title"><img src="@productImages" /></a></td>
                                    <td class="tl" height="102" style="vertical-align: text-top;">
                                        <p style="padding-top:5px; text-align:left">@title</p>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>@unitPrice.ToString("c")</td>
                                    <td width="12%">
                                        <p style=" padding-left:28%">
                                            <a class="reduce" href="javascript:;" id="goodsAmountDecreaseDetail">–</a>
                                            <input name="@string.Format("items[{0}].ProductId", i)" type="hidden" value="@product.Id" />
                                            <input name="@string.Format("items[{0}].IsRemoved", i)" type="hidden" value="false" />
                                            <input name="@string.Format("items[{0}].Quantity", i)" id="goodsAmountDetail" type="number" min="1" maxlength="3" value="@quantity" />
                                            <a class="add reduce" href="javascript:;" id="goodsAmountIncreaseDetail">+</a>
                                        </p>
                                    </td>
                                    <td>@totalPrice.ToString("c")</td>
                                    <td><a href="#" title="" class="delete">删除</a></td>
                                </tr>
                            }
                        </table>
                        <div class="sppListBox_rease">
                            <div class="fr Box_reaseRi">
                                @*<button name="command" value="Update" type="submit">Update</button>*@
                                <p class="fl">总金额（不含运费）：</p>
                                <span class="fl" style=" font-size:20px; color:#86129d; font-weight:bold;">@total.ToString("c")</span>
                            </div>
                        </div>
                        <div class="Box_buycar">
                            <div class="fr buyMyg">
                                <button type="submit" name="command" value="ContinueShopping" class="Cont">继续购物</button>
                                <button type="submit" name="command" value="Checkout" class="goPay">立即结账</button>
                            </div>
                        </div>
                    </div>
                </section>
            }
        </article>
    </section>
}